<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!--  <title>Collapsible sidebar using Bootstrap 3</title> -->

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style4.css"> {{!--
    <link rel="stylesheet" type="text/css" href="/css/my-login.css"> --}}

    <style>
        #globalLoader {
        position: absolute;
        top: 0px !important;
        left: 0px !important;
        width: 100% !important;
        height: 180% !important;
        z-index: 1000;
        background-color: grey;
        opacity: .8;
        overflow: hidden !important;
    }

    .loader {
        border: 16px solid #f3f3f3;
        top: 250px;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        overflow: hidden !important;
    }
.OnLoaderscroll {
        overflow-y: hidden !important;
        overflow: hidden !important;
    }

    .disable-scroll {
        overflow: hidden !important;
    }
    </style>
</head>
<body  class="my-registration-page">
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Marketing Measurement & Management</h3>
                <strong>M3</strong>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-home"></i>
                        How to Use
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">CST</a>
                        </li>
                        <li>
                            <a href="#">DISCOVER/AAE</a>
                        </li>
                        <li>
                            <a href="#">Adhoc</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        CST
                    </a>
                    <ul class="list-unstyled components" id="pageSubmenu">
                        <li class="active">
                            <a href="/CST/mastercampaign">Master Campaign</a>
                        </li>
                        <li>
                            <a href="/CST/subcampaign">Sub Campaign</a>
                        </li>
                        <li>
                            <a href="/tactic/tacticlist">Tactic</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-duplicate"></i>
                        DISCOVER/AAE
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-link"></i>
                        ADMIN
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-paperclip"></i>
                        FAQ
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="glyphicon glyphicon-send"></i>
                        Contact
                    </a>
                    <a href="#">
                        <i class="glyphicon glyphicon-briefcase"></i>
                        About
                    </a>
                </li>
            </ul>

            <ul class="list-unstyled CTAs">
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
                <li>
                    <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
                </li>
            </ul>
        </nav>
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span></span>
        </button>
        <!-- Page Content start Holder -->
        <section class="h-100">
            <div class="row justify-content-md-center h-100">
                <div class="card-wrapper">
                    <div class="card fat">
                        <div class="card-body">

                            <div id="content">
                                <nav class="navbar navbar-default">
                                    <div class="container-fluid">
                                        <h2> Tactic </h2>
                                        <div class="navbar-header">
                                        </div>
                                        <form id="frmTactilist">
                                            <table align='center' cellspacing=2 cellpadding=5 id="data_table" border=1>
                                                <tr>
                                                    <th>
                                                       Campaign Id 
                                                    </th>
                                                    <th>Tactic</th>
                                                    <th>Status</th>
                                                    <th>Creator</th>
                                                    <th>Start Date</th>
                                                    <th>End Date</th>
                                                    <th>Action</th>
                                                </tr>
                                                {{#each tacticlist}}
                                                <tr>
                                                    <td>tacticid</td>
                                                    <td>tacticname</td>
                                                    <td>status</td>
                                                    <td>createdby</td>
                                                    <td>startdate</td>
                                                    <td>enddatae</td>
                                                    <td>
                                                        <a href="#" title="Hide" campaignId=parseInt(tacticid) class="btn-primary" value="Cancel" ><i class="fa fa-remove" aria-hidden="true"></i></a>
                                                        |
                                                        <a href="/tactic/tactic"+parseInt(tacticid)+"" title="Hide" campaignId=parseInt(tacticid) class="btn-primary" value="Edit" ><i class="fa fa-edit" aria-hidden="true"></i></a>
                                                    </td>                                                    
                                                </tr>
                                                {{/each}}
                                            </table>
                                        </form>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- jQuery CDN -->
                <script src="https://code.jquery.com/jquery-1.12.0.min.js">
                </script>
                <!-- Bootstrap Js CDN -->
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.0/handlebars.js"></script>

                <link rel="stylesheet" href="/css/choosen.css"> 
                <script src="/script/tacticform.js"></script>
</body>
</html>